/* Global Styling */

body {
    display: flex;
    justify-content: center;
    background-color: #010101;
}

/* Containers */

.array-container {
    /* Layout */
    display: flex;
    position: fixed;
    
    bottom: 0%;
    top: 50%;
    width: 80%;
    transform: rotateX(180deg) translate(-50%);
}

/* Components */

.val-bar {
    /* Layout */
    flex: 1;
    margin: 0 0.125rem;
    min-width: 0.125rem;
    max-width: 0.625rem;

    /* Colour */
    background-color: 	#415a77;
}
